.DS_Store
.classpath
.project
.idea/
target/
*.iml
*.log
**/test/
**/classes/
**/DataFile
**/dtbd/*.zip
**/dzqm
**/UpgradeApk/*.apk
**/UpgradeApk/*.patch
**/sync_temp
**/temp
**/userIcon
**/userfiles/FeedbackAttachs/
**/userfiles/share/
**/userfiles/WRYJC/
**/WEB-INF/logs/

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
